.reference-online-check-modal {
  // margin: 20px;
  .mb10 {
    margin-bottom: 10px;
  }
  .refer-panel-head {
    display: flex;
    align-items: center;
    width: 100%;
    > span {
      max-width: 90%;
      margin-right: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
