.reference-online-check-modal {
  .mb16 {
    margin-bottom: 16px;
  }
  .refer-panel-head {
    display: flex;
    align-items: center;
    width: 100%;
    > span {
      max-width: 90%;
      margin-right: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .ant-collapse-content-box {
    padding: 16px;
    background-color: @bg-color-quaternary;
  }
}
