.reference-body {
  .reference-body-title {
    position: relative;
    height: 30px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 30px;
    .ml-6 {
      margin-left: 6px;
    }
    &::before {
      position: absolute;
      top: 14px;
      left: 0;
      width: 3px;
      height: 6px;
      background-color: #126bfb;
      content: '';
    }
    &::after {
      position: absolute;
      top: 9px;
      left: 6px;
      width: 3px;
      height: 11px;
      background-color: #126bfb;
      content: '';
    }

    .body-title-content {
      display: inline-block;
      max-width: 500px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .reference-body-item {
    margin-bottom: 20px;
    .refer-tag {
      display: inline-block;
      height: 22px;
      margin-right: 6px;
      padding: 0 8px;
      font-size: 12px;
      line-height: 20px;
      border-radius: 1px;
      &.refer-tag-weak {
        color: #454f64;
        background: rgba(139, 145, 158, 0.1);
        border: 1px solid rgba(139, 145, 158, 0.4);
      }
      &.refer-tag-strong {
        color: #d96156;
        background: rgba(217, 97, 86, 0.1);
        border: 1px solid rgba(217, 97, 86, 0.4);
      }
    }
  }
  .ant-table-tbody > tr > td {
    .tnt-ellipsis {
      line-height: 22px !important;
    }
    &.refer-warning-txt {
      * {
        color: #d96156 !important;
      }
    }
  }

  .content-span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
}
