.bread-crumb-head {
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  background: #fff;
  border: none;
  .h2 {
    font-size: 14px;
  }
  .c-breadcrumb {
    height: 40px;
    line-height: 40px;
    > span {
      font-size: 14px;
    }
  }
}
.bread-crumb-body {
  height: ~'calc(100vh - 90px)';
  padding: 16px 20px;
  overflow: auto;
}
