.wrap-node {
  position: absolute;
  // background: white;
  z-index: 2;
  width: 120px;
  height: 40px;
  font-weight: normal;
  font-size: 12px;
  // transition: all 1s linear 1s;
  font-family: Segoe UI;
}
