@font-face {
  font-family: "iconfont"; /* Project id 2967740 */
  src: url('iconfont.woff2?t=1638861843667') format('woff2'),
       url('iconfont.woff?t=1638861843667') format('woff'),
       url('iconfont.ttf?t=1638861843667') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fl-label:before {
  content: "\e787";
}

.icon-fl-analysis:before {
  content: "\e788";
}

.icon-fl-monitor:before {
  content: "\e789";
}

.icon-fl-trend:before {
  content: "\e78a";
}

.icon-fl-develop:before {
  content: "\e78b";
}

.icon-fl-lab:before {
  content: "\e78c";
}

.icon-fl-document:before {
  content: "\e78d";
}

.icon-fl-pie:before {
  content: "\e78e";
}

.icon-fl-workflow:before {
  content: "\e78f";
}

.icon-fl-report:before {
  content: "\e790";
}

.icon-fl-plateau:before {
  content: "\e791";
}

.icon-fl-api:before {
  content: "\e792";
}

.icon-fl-product:before {
  content: "\e793";
}

.icon-fl-safe:before {
  content: "\e794";
}

.icon-fl-box:before {
  content: "\e795";
}

.icon-fl-table:before {
  content: "\e796";
}

.icon-fl-sandglass:before {
  content: "\e797";
}

.icon-fl-flow:before {
  content: "\e798";
}

.icon-fl-security:before {
  content: "\e799";
}

.icon-fl-customer:before {
  content: "\e79a";
}

.icon-fl-assets:before {
  content: "\e79b";
}

.icon-fl-charts:before {
  content: "\e79c";
}

.icon-fl-menu:before {
  content: "\e79d";
}

.icon-fl-light:before {
  content: "\e79e";
}

