.condition-tree-node {
  position: relative;
  // right: 5px;
  z-index: 1;
  .root {
    width: 30px;
    height: 24px;
    margin-top: 8px;
    margin-left: 6px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(178, 190, 205, 1);
    border-radius: 2px;
  }
  .leaf-node {
    width: 500px;
    height: 40px;

    // 超出部分省略号
    overflow: hidden;
    font-size: 14px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #ffffff;
    border: 1px solid rgba(225, 230, 238, 1);
    border-radius: 2px;
    .name {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: 8px;
      margin-left: 6px;
      color: #ffffff;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      background: #ffffff;
      background: #497bd0;
      border-radius: 2px;
      .node-sup {
        position: absolute;
        top: 1px;
        left: 26px;
        width: 20px;
        height: 20px;
        color: #17233d;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        background: #ffffff;
        border: 1px solid rgba(178, 190, 205, 1);
        border-radius: 50%;
      }
      .if {
        left: -7px;
      }
    }
    .leaf-text {
      display: inline-block;
      width: 460px;
      margin-left: 8px;
      .template-des {
        position: relative;
        left: -37px;
        display: inline-block;
        width: 100%;
        margin-right: -6%;
        padding-left: 43px;
        padding-left: 55px;
      }
    }
  }
  .group-node {
    .name {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 3px;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      background: #ffffff;
      background: #497bd0;
      border-radius: 2px;
      .node-sup {
        position: absolute;
        top: -11px;
        left: 17px;
        width: 20px;
        height: 20px;
        color: #17233d;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        background: #ffffff;
        border: 1px solid rgba(178, 190, 205, 1);
        border-radius: 50%;
      }
      .if {
        left: -12px;
      }
    }
    .logic {
      position: relative;
      left: 35px;
      z-index: 10;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: 8px;
      margin-left: 3px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      background: #ffffff;
      border: 1px solid rgba(178, 190, 205, 1);
      border-radius: 2px;
    }
  }
  .relation-node {
    .logic {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: 8px;
      margin-left: 3px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      background: #ffffff;
      border: 1px solid rgba(178, 190, 205, 1);
      border-radius: 2px;
    }
  }
}

.template-node {
  // .ant-tooltip-arrow {
  //   background-color: #17233d;
  //   border-right-color: #17233d !important;
  //   border-bottom-color: #17233d !important;
  // }
  .ant-tooltip-content {
    width: 600px;
    background-color: #ffffff;
    .ant-tooltip-inner {
      background-color: #ffffff;
      .rule-condition-template {
        margin-top: 8px;
        margin-left: 50px;
        color: #17233d;
      }
      .rule-condition-template:last-child {
        margin-bottom: 10px;
      }
    }
  }
}
